@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;

}
:root {
--color-blue-900: hsl(209, 23%, 22%);
--color-blue-950: hsl(207, 26%, 17%);
--color-gray-950: hsl(200, 15%, 8%);
--color-gray-400: hsl(0, 0%, 50%);
--color-gray-50: hsl(0, 0%, 99%);
--color-white: hsl(0, 100%, 100%);
}